body {
    display: flex;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h2, form {
    display : flex;
    justify-content: center;
}

label{
    font-size: 16pt;
}

main {
    width: 80%;
    margin: 20px auto;
}

section {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

form {
    flex-direction: column;
}

form div, form label {
    margin-bottom: 10px;
}

form input {
    width: 95%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    max-width: 50%;
    margin: 0 auto;
    font-size: 16pt;
}

button:hover {
    background-color: #444;
}

h3 {
    margin-bottom: 10px;
}

#imcresult, #imcresultResume {
    height: 30px;
    overflow-y: auto;
}

#resultsIMC {
    padding : 10px
} 

p {
    font-size: 16pt;
}